<%= stylesheet_link_tag 'sessions', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class = "box">
  <div class = "box-inner">

    <h1>投稿</h1>

    <%= render 'form', post: @post %>

    <%= link_to '詳細', admin_post_path %> |
    <%= link_to '戻る', admin_posts_path %>
  </div>
</div>