<%= stylesheet_link_tag 'sessions', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class = "box">
  <div class = "box-inner">
    <h1>投稿する</h1>

    <%= render 'form', post: @post %>

    <%= link_to 'Back', admin_posts_path %>
  </div>
</div>
