$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.header {
  color: black;
  padding: 1rem 0;
  background-color: aliceblue;
  text-align: left;
}
.header-right {
  float: right;
}


body {
//     background-image:url("pexels-fauxels-3184291.jpg") ;
//     background-position: 0% 0%;
//     background-size:contain;
//     background-repeat: no-repeat;
       position: relative;
      //  flex-flow: column;
       min-height: 100vh;
       margin: 0 auto;
//   }
}


footer{
  background-color: aliceblue;
  padding: 0.5rem 0;
  position: absolute;
  bottom: 0;
  text-align: center;
  margin-top: auto;
  width: 100%;
}


// 現状
// .footer {
//   color: black;
//   padding: 1rem 0;
//   background-color: aliceblue;
//   text-align: center;
//   min-height: 0vh;
//   width:100%;
//   margin-top: auto;
// }