$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 .header {
   color: black;
   background-color: lightblue;
   vertical-align: middle;
   height: 3.5rem;
   float: left;
   display: table;
  }

  .header-left {
    vertical-align: middle;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
  }

.admin_column {
  padding-left: 0;
  padding-right: 2rem;
  color: black;
  display: inline-block

}

  .header-right {
    text-align: right;
    padding-right: 1rem;
    vertical-align: middle;
    display: table-cell;
  }
  .header-right-right {
    text-align: left;
    vertical-align: middle;
    display: table-cell;
  } 

  body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  footer {
    text-align: center;
    padding: 0.8rem;
    height: 3rem;
    background: lightblue;
    margin-top: auto;
  }
  
  