// Place all the styles related to the notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.box {
    width: 70%;
    height: 1000%;
    text-align: center;
    margin: 60px auto 0;
    border-radius: 4px;
    border: 1px #ddd solid;
}

.box-inner {
    padding: 20px 26px;
    text-align: left;
  }

.notice{
    text-align: center;
}
p{
    text-align: center;
}

.nav {
    width: 100px;
	margin: auto;
    list-style: none;
  }
.nav li {
    float: left;
}

.table td {
    padding-top: 1rem;
    padding-bottom: 0;
}

//  kaminari
.pagination {
    justify-content: center;
  }
// ページネーション自体のデザイン
.pagination>li>a {          
    border: none;     
    color: black;   
  }
  
// 表示しているページ番号のデザイン 
  .pagination>.active>a {     
    background: grey;     
    border-radius: 15px;     
  }
  
// ホバー時のデザイン
  .pagination>li>a:hover {        
    border-radius: 15px;    
  }