// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.slick-slide img {
	width: 100%;
}


// 画像の大きさ

.practice_image {
    width: 20%;
    weight: 20%;
}

.content {
    // max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}

.card-wrap {
    // display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-list {
    max-width: 220px;
 
}
.slider {
    background-color: aliceblue;
}

.cardlistTitle {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 30px 0;
}
.card-listText {
 line-height: 1.6;
}

.cardlistImage {
    width: 100%;
    weight: 100%;
}

.icon_image {
    width: 30%;
    weight: 30%;
    object-fit:cover;
}

.slick-next,.slick-prev {
    z-index: 1;
}

.slick-prev {
    left: 10px;
}

.slick-next {
    right: 10px;
}

// .item {
//     width: 100%;
//   }
//   .item-img {
//     padding: 0;
//   }
//   .item-body {
//     padding: 0;
//   }
//   .item-title {
//     margin: 0 0 8px;
//     font-size: 15px;
//     font-weight: 700;
//     color: black;
//   }
//   .item-body p {
//     font-size: 16px;
//     font-weight: 400;
//     color: #333;
//   }